<p style="color: green"><%= notice %></p>

<%= render @recipefood %>

<div>
  <%= link_to "Edit this recipefood", edit_recipefood_path(@recipefood) %> |
  <%= link_to "Back to recipefoods", recipefoods_path %>

  <%= button_to "Destroy this recipefood", @recipefood, method: :delete %>
</div>
