<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<a href="/recipes/new">Add new recipe</a>
</div>
<div>
  <% @recipes.each do |recipe| %>

      <div>
        <div> 
          <a href="/recipes/<%= recipe.id%>"> 
            <h3><%= recipe.name %></h3>
          </a>  
          <%= button_to "REMOVE", "/recipes/#{recipe.id}", method: :delete, class: 'button'  %>
        </div>
        <div>
          <p><%= recipe.description %></p>
        </div>
      </div>

  <%end%>
</div>
