<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<a href="/recipes/new" class="add_new_recipe">Add new recipe</a>
</div>
<div class="all-recipes-container">
  <% @recipes.each do |recipe| %>

      <div class="recipe-container">
        <div class="recipe-name"> 
          <a href="/recipes/<%= recipe.id%>"> 
            <h3><%= recipe.name %></h3>
          </a>  
          <%= button_to "REMOVE", "/recipes/#{recipe.id}", method: :delete, class: 'Delete-recipe'  %>
        </div>
        <div class="recipe-description">
          <p class="description"><%= recipe.description %></p>
        </div>
      </div>

  <%end%>
</div>
