<div class="addFoods">

<h1>Food List</h1>

<button>
  <%= link_to "Add food", new_food_path, data: { turbo_frame: 'modal' } %>
</button>

<table class='foods-table'>
    <thead>
        <tr>
          <th>Food</th>
          <th>Measurement unit</th>
          <th>Unit price</th>
          <th>Actions</th>
        </tr>
    </thead>

    <tbody>
      <% @foods.includes(:recipe_foods).each do |f| %>
        <tr>
            <td><%= f.name %></td>
            <td><%= f.measurement_unit %></td>
            <td><%= f.price %></td>
            <td><%= link_to "Delete", food_path(f.id), data: {
                         turbo_method: :delete,
                         turbo_confirm: "Are you sure you want to delete this food item?"
                      }, class: "delete-food-cell" %></td>
        </tr>
       <% end %>
    </tbody>
</table>
</div>
