<h1>New food</h1>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<%= form_with model: newfood, url: foods_path, method: :post, local: true, scope: :food do |f| %>
  <div>
    <div>
      <%= f.label :name %> <br/>
      <%= f.text_field :name %>
    </div>

    <div class="mt-3">
    <div>
      <%= f.label :measurement_unit %> <br/>
      <%= f.text_field :measurement_unit %>
    </div>
    </div>

    <div class="mt-3">
    <div>
      <%= f.label :price %> <br/>
      <%= f.text_field :price %>
    </div>
    </div>

    <div class="mt-3">
    <div>
      <%= f.label :quantity %> <br/>
      <%= f.number_field :quantity %>
    </div>
    </div>

    <div>
      <%= f.submit "Add Food" %>
    </div>
  </div>
<% end %>