<div>
<h1>Shopping List </h1>
<div>
  <p>Amount of items to buy: <%= @foods.size %></p>
  <p>Total value of food need: <%= "$#{@sum}" %></p>
</div>

<table>
  <tr>
    <th> Food Item </th>
    <th> Quantity </th>
    <th> Price </th>
    <th> Total </th>
  </tr>
  <% @foods.includes(:food).each do |food_item| %>
      <tr>
        <td><%= food_item.food.name %></td>
        <td><%= food_item.quantity %></td>
        <td><%= "$#{ food_item.food.price }" %></td>
        <td><%= "$#{ food_item.food.price * food_item.quantity }" %></td>
      </tr>
    <% end %>
</table>
</div>